.contact_form {
  padding: 0 3rem;
  display: flex;
  max-width: 75%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}

.contact_form label {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #24272A;
}

.contact_form input {
  width: 350px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem;
  outline: none;
}

.contact_form input:focus {
  border: 1px solid #D8AD3D;
}

.contact_form input.invalid {
  border: 1px solid #B72C2C;
}

.contact_form input:disabled {
  border: 1px solid #CFCFCF;
}

#mandatoryForm {
  display: none;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #24272A;
}

.contact_form .send_btn {
  display: block;
  width: 170px;
  height: 55px;
  background: #D8AD3D;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none;
}

.contact_form .send_btn:hover {
  background: #009CD9;
}

.contact_form .send_btn.disabled {
  background: #CFCFCF;
  cursor: default;
}